<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener
                class-name="TestListeners.ListenersImplementation" />
    </listeners>
    <test name="PIM Work  Application Test Cases">

        <classes>
<!--            <class name="Testcase.Account_Management"/>-->
<!--            <class name="Testcase.UserManagement"/>-->
            <class name="Testcase.ProductDetails_verification"/>
        </classes>
    </test>
</suite>